@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    box-sizing: border-box;
}

.all {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info {
    width: 40%;
}


.num {
    font-size: 40px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    width: 70%;
}

.mess {
    font-size: 15px;
    font-weight: 400;
    color: hsl(303, 10%, 53%);
    margin-top: 25px;
    line-height: 20px;
    width: 90%;
}

.rate {
    width: 42%;
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: 8px;
    margin-top: 20px;
    width: 400px;
    padding-left: 30px;
}

.duplicate {
    margin-right: 10px;
    padding: 10px;
}

.con__img {
    height: 15px;
}

.review {
    color: hsl(300, 43%, 22%);
    font-size: 12px;
    font-weight: 1000px;
}

.small {
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
    width: 1100px;
}

.base {
    background-color: hsl(300, 43%, 22%);
    width: 100%;
    height: 180px;
    border-radius: 8px;
    padding: 30px;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.pics {
    border-radius: 50px;
    height: 40px;
    padding: 20px;
}

.name1 {
    color: hsl(0, 0%, 100%);
}

.occ {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}

.text1 {
    font-size: 15.5px;
    color: white;
    margin-top: 10px;
}

#star2 {
    margin-left: 40px;
}

#star3 {
    margin-left: 80px;
}

#base2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

#base3 {
    margin-top: 40px;
}

@media screen and (max-width: 768px) {
    .all {
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    .content {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .header {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .info {
        width: 100%;
        height: 100%;
    }

    .num {
        font-size: 35px;
        font-weight: bolder;
        width: 100%;
    }

    .mess {
        font-size: 15px;
        width: 100%;
        margin-top: 10px; 
    }
    .star {
        flex-direction: column;
        width: 300px;
        margin-top: 10px;
        align-items: center;
    }
    
    .review {
        font-size: 14px;
        font-weight: bolder;
        margin-bottom: 10px; 
        
    }

    #star2 {
        margin-left: 0;
    }

    #star3 {
        margin-left: 0;
    }

    .duplicate {
        padding: 10px;
    }

    .small {
        width: 300px;
        flex-direction: column;
        padding-top: 35px;
    }

    .base {
        width: 100%;
        padding: 20px;
    }

    .pics {
        height: 60px;
        padding: 10px;
    }

    .name {
        flex-direction: column;
    }

    .name1 {
        font-size: 15px;
    }

    .occ {
        font-size: 13px;
    }

    .text1 {
        font-size: 14px;
        height: 40px;
    }

    #base2 {
        margin-left: 0;
        margin-bottom: 20px;
    }

    #base3 {
        margin: 0;
    }

    .attribute {
        font-size: 20px;
    }
}